<!DOCTYPE html>
<html>
<head>
    <title>BioWhere Database</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <style>
        #search_bar {
            z-index: 1000; /* Set a high z-index for the autocomplete input */
        }
    </style>
</head>
<body>
    <h1>BioWhere Database</h1>
    <label for="search_bar"></label><input type="text" id="search_bar" placeholder="Search for featureName">
    <div id="search_results"></div>
    <div id="map" style="height:840px;"></div>


    <script>
        const map = L.map('map').setView([0, 0], 2);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);

        let geojsonLayer; // Initialize the geojsonLayer variable

        $('#search_bar').autocomplete({
            source: function(request, response) {
                // Send an AJAX request to fetch search results
                $.post('/search', { search_term: request.term }, function(data) {
                    const modifiedData = data.map(function(item) {
                        return {
                            value: item
                        };
                    });
                    response(modifiedData);
                });
            },
            minLength: 3,
            select: function(event, ui) {
                const encodedURI = encodeURI(ui.item.value);
                const featureName = encodedURI.replace(/%20/g, ' ');

                displayGeometries(featureName);
            }
        });

        function displayGeometries(featureName) {
            // Check if there's an existing geojsonLayer on the map and remove it
            if (geojsonLayer) {
                map.removeLayer(geojsonLayer);
            }

            $.post('/get_geometries', { feature_name: featureName }, function(data) {
                alert("Selected: " + featureName);

                // Initialize an array to store GeoJSON features
                const geojsonFeatures = [];

                for (let i = 0; i < data.length; i++) {
                    const obj = JSON.parse(data[i]);
                    const geoType = obj.type;
                    const coordinates = obj.coordinates;

                    const geojsonFeature = {
                        "type": "Feature",
                        "properties": {
                            "name": "Coors Field"
                        },
                        "geometry": {
                            "type": geoType,
                            "coordinates": coordinates
                        }
                    };

                    geojsonFeatures.push(geojsonFeature);
                }

                geojsonLayer = L.geoJSON(geojsonFeatures).addTo(map);
                map.fitBounds(geojsonLayer.getBounds());
                map.setZoom(10);
            }).fail(function(jqXHR, textStatus, errorThrown) {
                alert("Searching Error!");
            });
        }
    </script>
</body>
</html>
